fastapi
uvicorn
pydantic
python-multipart
requests
pandas
scikit-learn

langchain
langchain-core
langchain-community

sentence-transformers
transformers
huggingface-hub
chromadb
accelerate
safetensors